*.o
*.swp
*_data.c
.DS_*
kernel*.img
kernel*.elf
kernel*.asm
system/build
.vscode/settings.json
.vscode/sftp.json
*.ext2
system/tmp
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.deps
*.a
build
.xmake
system/hardware/arm/make_image.inc
system/hardware/arm/raspix/boot
system/hardware/arm/raspix/boot.org
ewokos.img
system/hardware/arm/raspix/sd
doc/book
machine/versatilepb/kernel/config.mk
*.lo
*.dirstamp
machine/raspix/boot
*.tree
doc/src/work