*.o
*.swp
*_data.c
.DS_*
kernel*.img
kernel*.elf
kernel*.asm
system/build
.vscode/settings.json
system/root.ext2
system/root.*.ext2
system/tmp
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
system/make.rule
build
.xmake
system/hardware/arm/make_image.inc
system/hardware/arm/raspix/boot
system/hardware/arm/raspix/boot.org
ewokos.img
system/hardware/arm/raspix/sd
